<section class="main">
    <div class="forgot-password-container">
      <div class="content-wrapper">
        <div class="main-column">
          <div class="form-container">
            <img loading="lazy" src="/assets/logo.png" class="profile-image" alt="User profile" />
  
            <!-- Forget Password Form -->
            <form *ngIf="activeForm === 'forgetpass'" [formGroup]="forgotPasswordForm" (ngSubmit)="requestPasswordReset()">
              <h1 class="form-title">Enter Email Address</h1>
              <input formControlName="email" type="email" id="emailInput" class="email-input" aria-label="Enter Email Address" />
              <div class="back-link">Back To <span (click)="onSignin()" class="fpsignin">Sign In.</span></div>
              <button class="send-code-btn" type="submit">Send Code</button>
              <hr>
              <p class="signup-text">Don't have an account?</p>
              <button type="button" class="signup-btn" (click)="onRegister()">Sign Up</button>
            </form>
  
            <!-- OTP Verification Form -->
            <form *ngIf="activeForm === 'emailotp'" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
              <h1 class="form-title">Enter Verification Code</h1>
              <div class="input-field">
                <input formControlName="otp" type="text" maxlength="4" class="otp-input" aria-label="Enter OTP" />
              </div>
              <a (click)="resendOtp()" class="back-link">If you didn’t receive a code!! <span class="resend">Resend</span></a>
              <button type="submit" class="send-code-btn1">Verify</button>
            </form>
  
            <!-- Reset Password Form -->
            <form *ngIf="activeForm === 'resetpass'" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
              <h1 class="form-title">Enter New Password</h1>
              <input formControlName="newPassword" type="password" class="password-input1" aria-label="Enter New Password" />
              <h1 class="form-title">Confirm Password</h1>
              <input formControlName="confirmNewPassword" type="password" class="password-input1" aria-label="Confirm Password" />
              <button type="submit" class="send-code-btn2">Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  