<!-- <section class="login-main">
    <div class="welcome-div">
        <div class="main-cont-div">
            <h1>Welcome !!</h1>
            <h2>Onward with Your Professional </h2>
            <h3>Journey</h3>
        </div>
    </div>
    <div class="cont-div">
        <div class="form-cont">
            <div class="mainlog">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="testL" >
                    <h4>Login to your Account</h4>
                    <div class="form-group">
                        <input type="email" formControlName="email" placeholder="Email" class="input-field" />
                        <div *ngIf="isInvalid('username')" class="error-message">
                            <small>{{ getErrorMessage('username') }}</small>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="password" formControlName="password" placeholder="Password" class="input-field" />
                    </div>
                    <button type="submit" class="Lbutton">Login</button>
                    <div class="remember">
                        <input type="checkbox" id="remember-me" name="remember-me" value="Remember">
                        <label for="remember-me" class="remember-me">Remember Me</label>
                        <div (click)="onforget()" class="FP"> Forget Password?</div>
                    </div>
                    <br>
                    <p>Don't have an account?<span class="highlighted" (click)="onregister()">Register.</span></p>
                </form>
            </div>
        </div>
    </div>
</section> -->









<section class="login-main">
    <div class="welcome-div">
        <div class="main-cont-div">
            <h1>Welcome !!</h1>
            <h2>Onward with Your Professional </h2>
            <h3>Journey</h3>
        </div>
    </div>
    <div class="cont-div">
        <div class="form-cont">
            <div class="mainlog">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="testL">
                    <h4>Login to your Account</h4>
                    <div class="form-group">
                        <input type="email" formControlName="username" placeholder="Email" class="input-field" />
                        <div *ngIf="isInvalid('username')" class="error-message">
                            <small>{{ getErrorMessage('username') }}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="password" placeholder="Password" class="input-field" />
                        <div *ngIf="isInvalid('password')" class="error-message">
                            <small>{{ getErrorMessage('password') }}</small>
                        </div>
                    </div>
                    <button type="submit" class="Lbutton">Login</button>
                    <div class="remember">
                        <input type="checkbox" id="remember-me" formControlName="remember" />
                        <label for="remember-me" class="remember-me">Remember Me</label>
                        <div (click)="onforget()" class="FP"> Forget Password?</div>
                    </div>
                    <br>
                    <p>Don't have an account?<span class="highlighted" (click)="onregister()">Register.</span></p>
                </form>
            </div>
        </div>
    </div>
</section>
